.header::before, .section-cta::before, .section-price::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35); }

html {
  scroll-behavior: smooth; }

* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  display: block; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.header {
  position: relative;
  height: 870px;
  background-image: url("./../img/bg/header-3.jpg");
  background-size: cover;
  background-position: center; }

.header__wrapper {
  padding-top: 60px;
  position: absolute;
  z-index: 9;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.header__buttons {
  display: flex;
  justify-content: space-between; }

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 35px; }

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1; }

.header__desc {
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2; }
  .header__desc p:not(:last-child) {
    margin-bottom: 15px; }

.header__form {
  display: flex;
  justify-content: center; }

.header__form > * + * {
  margin-left: 20px; }

.header__scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%); }

.footer {
  padding: 70px 0;
  background-color: #1A1A1A;
  color: #FFF; }

.footer__row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }

.footer__nav {
  margin-right: 40px; }

.footer__nav-item {
  margin-right: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFF;
  transition: 0.4s ease-in; }
  .footer__nav-item:last-child {
    margin-right: 0; }
  .footer__nav-item:hover {
    color: #15D784; }

.footer__social {
  display: flex; }

.footer__socials-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.1);
  transition: 0.4s ease-in; }
  .footer__socials-img:last-child {
    margin-right: 0; }
  .footer__socials-img:hover {
    background-color: #00C470; }

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF4D; }
  .footer__copyright p + p {
    margin-top: 15px; }

.section-functional {
  padding: 80px 0; }

.section-functional__header {
  text-align: center;
  margin-bottom: 70px; }

.section-functional__title {
  margin-bottom: 40px; }

.section-functional__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px; }

.section-functional__row > * {
  margin: 0 15px;
  flex-shrink: 0; }

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/bg/cta-bg.jpg");
  background-size: cover;
  background-position: center; }

.section-cta__content {
  position: relative;
  z-index: 9;
  text-align: center;
  color: #FFF; }

.section-cta__title {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1; }
  .section-cta__title span {
    text-transform: uppercase;
    font-weight: 700; }

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E1E1E1; }

.section-tasks__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 114px; }

.section-tasks__content {
  width: 570px; }

.section-tasks__header {
  margin-bottom: 30px; }

.section-tasks__title {
  margin-bottom: 30px; }

.section-tasks__text {
  width: 400px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #808080; }
  .section-tasks__text p:not(:last-child) {
    margin-bottom: 15px; }

.section-tasks__img {
  width: 356px; }

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px; }

.section-focus__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.section-focus__content {
  padding-top: 28px;
  width: 470px; }

.section-focus__header {
  margin-bottom: 30px; }

.section-focus__title {
  margin-bottom: 30px; }

.section-focus__text {
  width: 400px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #808080; }
  .section-focus__text p:not(:last-child) {
    margin-bottom: 15px; }

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/bg/price-bg.jpg");
  background-size: cover;
  background-position: center; }

.section-price__content {
  position: relative;
  z-index: 9; }
  .section-price__content .title, .section-price__content .subtitle {
    color: #fff; }

.section-price__header {
  margin-bottom: 80px;
  text-align: center; }

.section-price__title {
  margin-bottom: 40px; }

.section-price__row {
  display: flex;
  justify-content: center;
  margin: 0 -15px; }

.section-price__row > * {
  margin: 0 15px; }

.section-clients {
  padding: 80px 0; }

.section-clients__header {
  margin-bottom: 60px;
  text-align: center; }

.section-clients__title {
  margin-bottom: 40px; }

.section-clients__slider {
  margin: 0 auto;
  width: 770px; }

.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s ease-in; }

.button-round:hover {
  background-color: #00C470; }

.input {
  padding: 0 30px;
  width: 240px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-weight: 700;
  line-height: 60px;
  color: #FFF; }

.input::placeholder {
  color: #FFF; }

.input:focus {
  background-color: black; }

.button-outline {
  padding: 0 40px;
  width: 246px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 4px;
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease-in; }
  .button-outline:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0); }
  .button-outline:focus {
    background-color: black; }

.button-solid {
  padding: 0 40px;
  width: 246px;
  height: 60px;
  border-radius: 30px;
  background-color: #FFFFFF;
  color: #2E2E2E;
  font-size: 14px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease-in; }
  .button-solid:hover {
    background-color: #000;
    color: #FFFFFF; }
  .button-solid:focus {
    background-color: #2f2f2f; }

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784; }

.subtitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 1; }

.card {
  width: 270px;
  text-align: center; }

.card__img {
  margin: 0 auto;
  margin-bottom: 40px; }

.card__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1; }

.card__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: #808080; }

.slider {
  position: relative; }

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #F5F5F5;
  cursor: pointer;
  transition: 0.4s ease-in; }
  .slider__arrow--left {
    top: 53px;
    left: -46px;
    transform: translateX(-100%); }
  .slider__arrow--right {
    top: 53px;
    right: -46px;
    transform: translateX(100%); }
  .slider__arrow path {
    transition: 0.4s ease-in; }
  .slider__arrow:hover {
    background-color: #00C470; }
  .slider__arrow:hover path {
    stroke: white; }

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.slider-item__text {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  color: #000000; }
  .slider-item__text p:not(:last-child) {
    margin-bottom: 15px; }

.slider-item__author {
  display: flex;
  align-items: center; }

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden; }

.slider-item__author-desc {
  font-size: 16px;
  font-weight: 500; }

.slider-item__author-title {
  display: inline-block;
  margin-bottom: 5px;
  color: #00C470; }

.slider-item__author-name {
  color: #808080; }

.package {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  width: 300px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
  text-align: center; }
  .package--special {
    background-color: #304FFEF2; }
    .package--special .package__title {
      color: #fff; }
    .package--special .package__period {
      background-color: rgba(0, 0, 0, 0.1); }

.package__header {
  padding: 0 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.package__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2; }

.package__price {
  margin-bottom: 15px;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase; }

.package__period {
  display: inline-block;
  padding: 0 15px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase; }

.package__list {
  padding: 40px 15px 0;
  margin-bottom: 58px;
  line-height: 1; }

.package__list-item {
  margin-bottom: 25px; }
  .package__list-item:last-child {
    margin-bottom: 0; }

.package__button {
  margin-top: auto; }

.button {
  display: inline-block;
  padding: 0 40px;
  width: 246px;
  height: 60px;
  border-radius: 30px;
  background-color: #00C470;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 4px;
  cursor: pointer;
  transition: 0.4s ease-in; }
  .button:hover {
    background-color: #02af64; }
  .button:focus {
    background-color: #008f51; }

@media (max-width: 1199px) {
  .conatiner {
    width: 900px; } }
@media (max-width: 899px) {
  .conatiner {
    width: 600px; } }
@media (max-width: 599px) {
  .conatiner {
    width: 320px; } }

/*# sourceMappingURL=main.css.map */
